
@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/* @keyframes show-toast{
    0% {bottom: -100%}
    20% {bottom: 100px}
    80% {bottom: 100px}
    100% {bottom: -100%}
} */



/* Set the wrapper as a flex container to make its children stretch to full height */
/* Apply CSS Grid layout to the wrapper */




.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation: myAnim 3s ease-in 0s 1 reverse backwards;
    /* animation-name: show-toast;
    animation-duration: 8s; */
    z-index: 99;
}
  
.add-category-btn {
    padding: 2px 10px !important;
    font-size: 12px !important;
  }
.btn{
    padding: 2px 1.75em;
    font-size: 12px;
    background-color: #c74fab;
    cursor: pointer;


}

.btn[class="btn-info"] {
    padding: 2px 10px;
    font-size: 12px; 
  }

.add-category-btn {
    padding: 2px 10px; 
    font-size: 12px;
  }

