@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* Styles for the #app container */
#app {
  padding: 1rem;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #54FE55;
  text-shadow: 0px 0px 10px;
  font-size: 6rem;
  flex-direction: column;
}

/* Styles for text inside #app */
#app .txt {
  font-size: 1.8rem;
  text-align: left;
}

/* Animation styles for blinking */
@keyframes blink {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

/* Apply blinking animation to specific elements inside #app */
#app .blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* Styles for specific text element inside #app */
#app .text {
  /* Additional styles for the .text element if needed */
}
