@keyframes myAnim {
	0% {
        bottom: -100%;
	}
    20% {
        bottom: -100px;
    }
    80% {
        bottom: -100px;

    }
	100% {
        bottom: -100%;
	}
}

.show-notification {

    /* Ensure notification is displayed on top */
    position: fixed;
    bottom: 100%;
    right: 20px;
    /* Add your animation properties here */
    animation-name: myAnim;
    animation-duration: 4s;
    z-index: 99;

  }
  

.btn.btn-info {
    cursor: pointer;
    background-color: #c74fab;
    padding: 2px 1.75em;
    font-size: 38px;


}


